* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

@font-face {
	font-family: ProductSansItalic;
	src: url(../font/Product-Sans-Italic.ttf);
}

@font-face {
	font-family: ProductSansBold;
	src: url(../font/Product-Sans-Bold.ttf);
}

@font-face {
	font-family: ProductSansRegular;
	src: url(../font/Demo_Fonts/Fontspring-DEMO-proximanova-light.otf);
}

body {
	width: 100%;
	height: 100%;
}

.header {
	position: fixed;
	display: flex;
	align-items: center;
	margin: 30px;
	top: 0;
	right: 0;
	font-size: 14px;
}

.header button {
	background-color: rgb(255, 105, 3);
	border: none;
	color: white;
	border-radius: 5px;
	margin: 0 0 0 10px;
	padding: 8px 25px;
	cursor: pointer;
}

main {
	display: flex;
}

ul li {
	margin: 20px 0;
}

.principal {
	width: 80%;
	min-height: 750px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 100%;
	height: 100%;
}

.instrucoes {
	width: 27%;
	min-height: 750px;
	min-width: 400px;
	height: 100vh;
	background:
	linear-gradient(
		rgba(255, 105, 3, 0.7),rgba(255, 105, 3, 0.8)
    ),
    url(../img/supermercado.webp) no-repeat;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	box-shadow: 1px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.texto {
	margin: 22% 10%;
	font-size: 14px;
	text-align: justify;
	padding: 20px;
	color: white;
	font-weight: 400;
	z-index: 10;
}

.texto li {
	list-style: none;
}

.texto h2 {
	margin: 10px 0;
}

.rodape-icon img {
	position: absolute;
	bottom: 0;
	margin: 10px;
}

.login {
	font-size: 25px;
	min-width: 400px;
	margin: 0 0 20% 0;
}

.login label {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.8);
}

.login h3 {
	color: rgba(0, 0, 0, 0.8);
}

.login img {
	display: flex;
	font-size: 13px;
	margin: 60px auto;
}

.login p {
	margin: 5px 0 20px 0;
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
}

.login input[type="text"],
.login input[type="password"] {
	width: 100%;
	height: 40px;
	padding: 10px;
	outline: none;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin-bottom: 10px;
	transition: ease-in-out 0.3s;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
	outline: none;
	border: 0.5px solid rgb(0, 132, 255);
}

::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.entrar {
	float: right;
	background-color: rgb(255, 105, 3);
	border: none;
	color: white;
	border-radius: 5px;
	width: 8rem;
	height: 2.6rem;
	cursor: pointer;
}

form {
	position: relative;
}

.msg-logout {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	width: 12rem;
	height: 2.6rem;
	background: white;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	font: 14px sans-serif;
}

.msg-none {
	display: none;
}