.text-small {
  font-size: 0.8rem;
}

.text-medium {
  font-size: 1.5rem;
}

.text-large {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'Helvetica', sans-serif;
}

header .background-img-login {
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container-login {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 20px;
  min-width: 500px;
  min-height: 600px;
  padding: 20px;
  border-radius: 5rem;
  position: absolute;
  left: 75%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #d6e6ff;
  z-index: 1;
}

.container-login .header-login {
  width: 100%;
  height: 120px;
}

.container-login .header-login .shape-login {
  width: 100%;
  height: 120px;
  padding: 20px;
  text-align: center;
  border-radius: 110px 110px 110px 0px;
  background-color: #0060d6;
}

.container-login .header-login .shape-login h2, .container-login .header-login .shape-login p {
  color: #f5f8ff;
}

.container-login .description-login {
  text-align: center;
}

.container-login .container-credentials {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 100px;
      grid-template-rows: 100px 100px;
  gap: 10px;
}

.container-login .container-credentials button {
  width: 200px;
  height: 50px;
  margin: 0 20px 0;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #0060d6;
  background-color: #ffd900;
  cursor: pointer;
  margin: 10px auto;
}

.container-login .container-credentials .content-user p {
  margin: 2px 12.5px;
  color: rgba(0, 0, 0, 0.6);
}

.container-login .container-credentials .content-user input[type="text"] {
  width: 100%;
  height: 50px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}

.container-login .container-credentials .content-pass p {
  margin: 2px 12.5px;
  color: rgba(0, 0, 0, 0.6);
}

.container-login .container-credentials .content-pass input[type="password"] {
  width: 100%;
  height: 50px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}

.container-login .container-credentials .sign-login {
  height: 80px;
}

.container-login .container-credentials .sign-login button {
  width: 200px;
  height: 50px;
  margin: 0 20px 0;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #0060d6;
  background-color: #ffd900;
  cursor: pointer;
  float: right;
}

.container-login .footer-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50px;
  padding: 0 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.container-login .footer-login a {
  display: inline-block;
  width: 120px;
  height: 25px;
  margin: 0 20px 0;
  border: none;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #0060d6;
  background-color: #ffd900;
  cursor: pointer;
  margin: 10px auto;
}

.container-login .footer-login button {
  width: 120px;
  height: 25px;
  margin: 0 20px 0;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #0060d6;
  background-color: #ffd900;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */